@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.sidebar {
    width: 300px;
    transition: transform 0.3s ease-in-out;
}
.hidden-sidebar {
    transform: translateX(100%);
}
#profileToggle:checked ~ #profileSidebar {
    transform: translateX(0);
}
